<p style="color: green"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><%= render @pin %>
  <%= link_to "Edit this pin", edit_pin_path(@pin) %> | <%= link_to "Back to pins", pins_path %>
  </div>


<div class="panel-footer">
<%= button_to "Destroy this pin", @pin, method: :delete %>
</div>

</div>